<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
  {% include head.html %}
  <body>
    <div class="site-layout">
      {% include sidebar.html %}
      <div class="site-main">
        <main id="main" class="site-content">
          {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
    <script src="{{ '/assets/js/hits.js' | relative_url }}" defer></script>
    {% if page.search_page %}
      <script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>
    {% endif %}
  </body>
</html>
